#hat{
    position: relative;
    display: block;
    margin: auto;
}

#glasses{
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: -160px;
}

#octopus{
    display: block;
    margin: auto;
}