#hat{
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
}
#glasses{
    position: absolute;
}

#octopus{
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}