#hat{
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#glasses{
  position: absolute;
}

#octopus{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}